/* Google Font Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Google Font End */


/* Common Css Section End */
body{
    font-family: 'Poppins', sans-serif;
}
/* Common Css Section Start */
/* Header Section Start */
.header{
    background-color: #264653;
}

.banner-btn{
    background-color: #E76F51;
}
/* Header Section End */

/* Feture Section Start */
.bike-collection{
    color: #E76F51;
}
/* Feture Section End */

/* Happy Client Section Start */
.feture-heading span{
    color: #E76F51;
}
.client-rating{
    color: #FF7C2A;
}

.client-name{
    color: #00A6FF;
}
/* Happy Client Section End */